



.container{

  height: 80%;
  width: 60%;
  margin: auto;
 
}


.login{

  position: relative;
  margin-bottom: 10px;

  border-color: gray;
  box-shadow: 0px 0px 6px 6px rgba(64, 59, 59, 0.318);
 
  border-radius: 13px;

display: flexbox;
justify-content: end;

height: 100%;
width: 80%;


}

.svg{

  height: 100%;
width: 80%;
margin-bottom: -48px;
}






