<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="row">
    <div class="col-sm-12 tab-content no-bg no-border">
      <div class="col-8">
        <label class="btn btn-default p-0">
          <input type="file" (change)="selectFile($event)" />
        </label>
      </div>

      <div class="wrap-div">
        <div class="col-4">
          <button
            class="btn btn-block btn-success"
            [disabled]="!selectedFiles"
            (click)="upload()"
          >
            <i class="fa fa-plus"> </i> Upload
          </button>
        </div>

        <div *ngIf="currentFile && progress" class="progress my-3">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>

        <div *ngIf="message" class="alert alert-secondary" role="alert">
          {{ message }}
        </div>

        <div class="d-flex" style="width: 20%; margin-left: 41%">
          <input
            [(ngModel)]="name"
            [(ngModel)]="size"
            [(ngModel)]="extension"
            [(ngModel)]="folderName"
            [(ngModel)]="id"
            [(ngModel)]="tag"
            class="form-control me-6"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
      </div>

      <div class="tab-pane active documents documents-panel">
        <div
          *ngFor="
            let file of files
              | filter : name
              | filter : id
              | filter : size
              | filter : extension
              | filter : folderName
              | filter : tag
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: pageNo + 1,
                    totalItems: totalElements
                  }
          "
          [ngClass]="'document ' + types[file.extension.toLowerCase()]?.class"
        >
          <a
            class="document-body"
            style="margin: 25px; margin-left: 90px; color: white"
            role="button"
            (click)="fileDetails(file.id)"
          >
            <i [ngClass]="types[file.extension.toLowerCase()]?.icon"></i>
          </a>

          <div class="document-footer">
            <span class="document-name"> {{ file.name }} </span>

            <div>
              <div class="hover" style="margin-top: 15px">
                <button mat-button role="button" (click)="deleteFile(file.id)">
                  <mat-icon style="color: white">delete</mat-icon>
                </button>

                <button mat-button role="button" (click)="fileDetails(file.id)">
                  <mat-icon style="color: white">info</mat-icon>
                </button>

                <a
                  href="(click)='download(file.id, file.extension)'"
                  download="{{ file.name }}"
                  role="button"
                  target="_blank"
                  class="file-download"
                  ><i
                    class="fa fa-download"
                    style="margin-left: 20px; color: white"
                  >
                  </i
                ></a>

                <!-- <button (click)="download(file.id, file.extension)">
                  Download File
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <pagination-controls
        class="myPagination"
        (pageChange)="fetchNextPage($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
